<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Roa_Start" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RoaStart</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />

    <!-- Fixes "Application Error: connection to server was unsuccessful" by extending startup timeout -->
    <preference name="loadUrlTimeoutValue" value="70000" />

    <!-- Access & Navigation permissions for local webview -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Android Specific Platform Preferences -->
    <platform name="android">
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <allow-intent href="market:*" />
    </platform>
</widget>